<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.exo.ble-midi-autoconnect</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/toyotavangelis/Documents/GitHub/PALM01/tools/ble-midi-autoconnect/ble-midi-autoconnect</string>
    <string>10</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
